#gamePage {
    position: relative;
    margin: 5rem;
    margin-top: -10rem;
    font-size: 16rem;
    width: 1702rem;
}

#mapImg {
    position: absolute;
    top: 5rem;
    left: 50rem;
    width: 1180rem;
}

#colorsImg, #regionsImg {
    position: absolute;
    top: 5rem;
    left: 50rem;
    opacity: 1;
    width: 1080rem;
}

.sb {
    position: absolute;
    width: 30rem;
    height: 30rem;
    border-radius: 15rem;
    background-color: rgb(240, 240, 240);
    border:1rem solid black;
    transition: box-shadow .2s;
    box-shadow: 0 0 5rem rgba(33,33,33,.1); 
}
.sb:hover {
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(33,33,33,.4); 
}
.sb div {
    font-family: Tahoma;
    margin-left: 5rem;
    margin-top: 5rem;
    width: 20rem;
    text-align: center;
}
.sb p {
    position: absolute;
    font-family: Tahoma;

    margin: 0;
    margin-left: 5rem;
    margin-top: 5rem;

    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;

    text-align: center;
    background-color: inherit;
}

.sb .delta {
    position: absolute;
    
    font-size: 13rem;
    left: 0;
    top: -22rem;
    padding-top: 1rem;
    padding-right: 1rem;
    width: 18rem;
    height: 18rem;

    border-radius: 2rem;
    background-color: rgba(240, 240, 240, 0.8);
    border:1rem solid black;
}

#showElectors {
    position: absolute;
    top: 10rem;
    left: 10rem;
    font-size: 14rem;
}

#hideSummary {
    position: absolute;
    top: 10rem;
    left: 135rem;
    font-size: 14rem;
}

.media {
    position: absolute;
    width: 40rem;
    height: 40rem;
    border-radius: 20rem;
    background-color: rgb(240, 240, 240);
    border:1rem solid black;
    transition: box-shadow .2s;
    box-shadow: 0 0 5rem rgba(33,33,33,.1); 
}
.media:hover {
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(33,33,33,.4); 
}
.media div {
    font-family: Tahoma;
    margin-left: 5rem;
    margin-top: 8rem;
    width: 30rem;
    text-align: center;
    font-size: 1.2em;
}
.media .delta {
    position: absolute;
    
    font-size: 13rem;
    left: -16rem;
    top: -22rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 19rem;
    height: 19rem;

    border-radius: 2rem;
    background-color: rgba(240, 240, 240, 0.8);
    border:1rem solid black;
}

.endorse {
    position: absolute;
    width: 36rem;
    height: 36rem;
    border-radius: 4rem;
    background-color: rgb(240, 240, 240);
    border:1rem solid black;
    transition: box-shadow .2s;
    box-shadow: 0 0 5rem rgba(33,33,33,.1); 

}
.endorse:hover {
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(33,33,33,.4); 
}
.endorse div {
    font-family: Tahoma;
    margin-left: 4rem;
    margin-top: 6rem;
    width: 30rem;
    text-align: center;
    font-size: 1.2em;
}
.endorse .delta {
    position: absolute;
    
    font-size: 13rem;
    right: -16rem;
    top: -22rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 19rem;
    height: 19rem;

    border-radius: 2rem;
    background-color: rgba(240, 240, 240, 0.8);
    border:1rem solid black;
}

#eventCounter {
    position: absolute;
    width: 85rem;
    height: 85rem;
    left: 1200rem;
    top: 30rem;

    background-size: 85rem;
    border-radius: 4rem;
    background-color: #5c5c5c;
    border:1rem solid black;
    transition: box-shadow .2s;
    box-shadow: 0 0 5rem rgba(33,33,33,.1); 

    text-align: center;
    color: rgb(240, 240, 240);
    font-size: 60rem;
    font-family: Tahoma;
    line-height: 85rem;

}
#eventCounter:hover {
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(33,33,33,.4); 
}

.issue-select {
    position: absolute;
    width: 85rem;
    height: 85rem;
    background-size: 85rem;
    border-radius: 4rem;
    background-color: rgb(240, 240, 240);
    border:1rem solid black;
    transition: box-shadow .2s;
    box-shadow: 0 0 5rem rgba(33,33,33,.1); 

}
.issue-select.highlight {
    border:2rem solid rgb(22, 0, 117);
}
.issue-select:hover {
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(33,33,33,.4); 
}
.issue-select div {
    position: absolute;
    font-family: Tahoma;
    left: 5rem;
    top: 0rem;
    font-size: 1.2em;
}
.issue-select .delta {
    position: absolute;
    
    font-size: 13rem;
    left: -3rem;
    top: -21rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    width: 18rem;
    height: 18rem;

    border-radius: 2rem;
    background-color: rgba(240, 240, 240, 0.8);
    border:1rem solid black;
}

#issue1 {
    left: 1327rem;
    top: 30rem;
}
#issue2 {
    left: 1427rem;
    top: 30rem;
}
#issue3 {
    left: 1527rem;
    top: 30rem;
}

#handContainer {
    position: absolute;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 5rem rgba(33,33,33,.2);
    height: 444rem;
    width: 642rem;
    border-radius: 4rem;
    top: 400rem;
    left: 1050rem;

    overflow-x: hidden;
    overflow-y: auto;
}
#hand, #campaign, #effects {
    width: 642rem;
}
#handLabel {
    position: absolute;
    top: 373rem;
    left: 1050rem;
    width: 640rem;
    text-align: center;
    font-family: Tahoma;
    font-size: 20rem;
    color: rgb(0, 0, 0, 0.8);
    z-index: -3;
}

.card {
    font-size: 1rem;
    
    position: relative;
    display: flex;
    flex-direction: column;
    width: 151em;
    height: 211em;

    background-color: rgb(215, 215, 215);
    border: 1em solid black;
    border-radius: 4em;

    margin: 0em;
    margin-left: 6em;
    margin-top: 6em;
    float: left;
    transition: box-shadow .2s;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 0 5em rgba(33,33,33,.3); 
}

.card .header {
    width: calc(100%-0.3em);
    font-family: Tahoma;
    font-size: 14em;
    text-align: center;
    margin: 0.3em;
}

.card .bodyContainer {
    flex-grow: 1;
    padding: 0em 5em;
}

.card .body {
    font-family: Tahoma;
    font-size: 9.6em;
    text-align: center;

    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 7em);
}

.card .info {
    position: absolute;
    font-weight: bold;
    width: 100%;
    bottom: 6em;
}

.card .cp {
    position: relative;
    left: 1em;
    font-family: Tahoma;
    font-size: 12.8em;
    width: 4em;
}

.card .state {
    position: absolute;
    left: 5em;
    top: 0em;
    font-family: Tahoma;
    font-size: 12.8em;
    width: calc(100% - 11em);
    text-align: center;
}

.card .rest {
    position: absolute;
    right: 1em;
    top: 0em;
    font-family: Tahoma;
    font-size: 12.8em;
    width: 5em;
    text-align: right;
}

.card .candidate {
    position: absolute;
    left: 15em;
    bottom: 25em;
    width: 45em;
    height: 45em;
}

.card .issue {
    position: absolute;
    right: 15em;
    bottom: 25em;
    width: 45em;
    height: 45em;
}

.card .pointsCover {
    position: absolute;
    top: 0em;
    left: 0em;
    bottom: 0em;
    right: 0em;
    background-color: rgb(40, 40, 40, 0.7);
    text-align: center;
    color: rgb(240, 240, 240);
    font-size: 40em;
    font-family: Tahoma;
    line-height: 5.3em;
}

#handMode {
    position: absolute;
    top: 369rem;
    right: 10rem;
    font-size: 13rem;
}

.pi {
    position: absolute;
}
.pi img {
    position: relative;
    top: -5rem;
    border-radius: 50%;
    background-color: rgb(215, 215, 215);
    border: 1rem solid black;
}
.pi-self img {
    top: -6rem;
}
#kennedyIcon.pi-self img {
    border: 3rem solid #0068a4;
}
#kennedyIcon img {
    right: -22rem;
    width: 38rem;
}
#nixonIcon.pi-self img {
    border: 3rem solid #b02d37;
}
#nixonIcon img {
    left: -32rem;
    width: 38rem;
}

.iconCounter {
    position: absolute;
    top: 760rem;
    width: 80rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(215, 215, 215);
    border: 1rem solid black;
    overflow: visible;

    font-family: Tahoma;
    font-size: 3.7em;
    text-align: center;
}
.iconCounter img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    border-radius: 50%;
}
.iconCounter div {
    position: relative;
    z-index: 2;
}
.iconCounter .delta {
    position: absolute;
    
    font-size: 15rem;
    left: 0;
    top: -8rem;
    left: -5rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 20rem;
    height: 20rem;

    border-radius: 2rem;
    background-color: rgba(240, 240, 240, 0.8);
    border:1rem solid black;
    z-index: 0;
}

#mmtm {
    position: absolute;
    font-family: Tahoma;
    font-size: 1.6em;
    text-align: center;

    width: 180rem;
    top: 723rem;
    left: 730rem;
}
#kennedyMomentum {
    left: 730rem;
}
#nixonMomentum {
    left: 830rem;
}

#rest {
    position: absolute;
    font-family: Tahoma;
    font-size: 1.6em;
    text-align: center;

    width: 180rem;
    top: 723rem;
    left: 480rem;
}
#kennedyRest {
    left: 480rem;
}
#nixonRest {
    left: 580rem;
}

#turnIndicator {
    position: absolute;
    font-size: 2.7em;
    font-family: Tahoma;
    color: rgb(30, 30, 30);
    top: -50rem;
    left: 540rem;
    width: 500rem;
    text-align: center;
}
#subTurnIndicator {
    position: absolute;
    font-size: 1.5em;
    font-family: Tahoma;
    color: rgb(50, 50, 50);
    top: 10rem;
    left: 540rem;
    width: 500rem;
    text-align: center;
}

#info, #tally {
    position: absolute;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 5rem rgba(33,33,33,.4);
    height: 190rem;
    width: 422rem;
    border-radius: 4rem;
    top: 150rem;
    left: 1250rem;
    
    padding: 10rem;
    padding-top: 20rem;
    padding-bottom: 0rem;
    font-size: 2em;
    margin-top: 0rem;
    text-align: center;
}

.blue {
    background-color: #d3e2fa;
}
.red {
    background-color: #f1a8a3;
}