#washington {
    left: 190rem;
    top: 95rem;
}

#oregon {
    left: 160rem;
    top: 180rem;
}

#california {
    left: 140rem;
    top: 390rem;
}

#alaska {
    left: 185rem;
    top: 605rem;
}

#idaho {
    left: 270rem;
    top: 202rem;
}

#nevada {
    left: 208rem;
    top: 313rem;
}

#montana {
    left: 366rem;
    top: 130rem;
}

#wyoming {
    left: 390rem;
    top: 240rem;
}

#utah {
    left: 300rem;
    top: 330rem;
}

#arizona {
    left: 285rem;
    top: 460rem;
}

#colorado {
    left: 420rem;
    top: 350rem;
}

#newmexico {
    left: 400rem;
    top: 470rem;
}

#northdakota {
    left: 520rem;
    top: 130rem;
}

#southdakota {
    left: 525rem;
    top: 210rem;
}

#nebraska {
    left: 530rem;
    top: 280rem;
}

#kansas {
    left: 560rem;
    top: 365rem;
}

#oklahoma {
    left: 585rem;
    top: 440rem;
}

#texas {
    left: 560rem;
    top: 555rem;
}

#minnesota {
    left: 615rem;
    top: 135rem;
}

#iowa {
    left: 645rem;
    top: 260rem;
}

#missouri {
    left: 670rem;
    top: 360rem;
}

#arkansas {
    left: 677rem;
    top: 455rem;
}

#louisiana {
    left: 680rem;
    top: 527rem;
}

#wisconsin {
    left: 705rem;
    top: 190rem;
}

#illinois {
    left: 730rem;
    top: 310rem;
}

#kentucky {
    left: 830rem;
    top: 350rem;
}

#tennessee {
    left: 800rem;
    top: 408rem;
}

#mississippi {
    left: 740rem;
    top: 485rem;
}

#michigan {
    left: 800rem;
    top: 210rem;
}

#indiana {
    left: 788rem;
    top: 300rem;
}

#alabama {
    left: 800rem;
    top: 495rem;
}

#ohio {
    left: 847rem;
    top: 275rem;
}

#georgia {
    left: 870rem;
    top: 495rem;
}

#florida {
    left: 927rem;
    top: 595rem;
}

#newyork {
    left: 975rem;
    top: 170rem;
}

#pennsylvania {
    left: 945rem;
    top: 240rem;
}

#westvirginia {
    left: 891rem;
    top: 315rem;
}

#virginia {
    left: 950rem;
    top: 325rem;
}

#northcarolina {
    left: 960rem;
    top: 388rem;
}

#southcarolina {
    left: 920rem;
    top: 440rem;
}

#maine {
    left: 1055rem;
    top: 65rem;
}

#newhampshire {
    left: 1100rem;
    top: 110rem;
}

#vermont {
    left: 965rem;
    top: 80rem;
}

#massachusetts {
    left: 1100rem;
    top: 146rem;
}

#connecticut {
    left: 1115rem;
    top: 240rem;
}

#rhodeisland {
    left: 1090rem;
    top: 200rem;
}

#newjersey {
    left: 1045rem;
    top: 260rem;
}

#delaware {
    left: 1075rem;
    top: 300rem;
}

#maryland {
    left: 1065rem;
    top: 340rem;
}

#hawaii {
    left: 400rem;
    top: 670rem;
}


#westMedia {
    left: 30rem;
    top: 500rem;
}
#westEndorse {
    left: 75rem;
    top: 502rem;
}

#midMedia {
    left: 760rem;
    top: 90rem;
}
#midEndorse {
    left: 805rem;
    top: 92rem;
}

#southMedia {
    left: 730rem;
    top: 640rem;
}
#southEndorse {
    left: 775rem;
    top: 642rem;
}

#eastMedia {
    left: 1125rem;
    top: 305rem;
}
#eastEndorse {
    left: 1170rem;
    top: 307rem;
}